---
interface Props {
	title: string;
	time: string;
	tags: string;
}

const { title, time, tags } = Astro.props;
---


<!--
  Heads up! 👋

  Custom CSS:
    - animate-background https://github.com/markmead/hyperui/blob/main/tailwind.preset.js
-->

<article class="articulo">
	<div class="contenedor-informacion">
		<time class="fecha" >{time}</time>
		<a class="enlace-titulo" href="#"> 
			<h3 class="titulo">
				{title}
			</h3>
		</a>
		<div class="contenedor-etiquetas">
			<span>
				{tags}
			</span>
		</div>
	</div>

</article>

<style>
	*{
		box-sizing: border-box;
		margin: 0;
	}
	.articulo{
		width: 32.5rem;
		background:linear-gradient(to right, #00ff00, #ff00ff);
		border-radius: 0.5rem;
		padding: 0.25rem;
		display: flex;
		align-items: center;
		justify-content: center;

		.contenedor-informacion{
			width: inherit;
			background-color: #fff;
			border-radius: inherit;
			padding: 40px 16px 16px;

			.fecha{
				color: #b9b9b9;
				font-size: 16px;
				font-weight: 600;
			}
			.enlace-titulo{
				display: block;
				margin-bottom: 16px;
				text-decoration: none;
				.titulo{
					font-size: 20px;
				}
			}
			.contenedor-etiquetas{
				display: flex;
				flex-direction: row wrap;
				gap: 8px;
			}
			.contenedor-etiquetas span{
				color: #7d33b9;
				font-size: 13px;
				background-color: #c9c9c9;
				padding: 6px 12px;
				border-radius: 6px;
				font-weight: 600;
			}
		}
	}
</style>